<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>website</param-name>
		<param-value>rdemir.wordpress.com</param-value>
	</context-param>
	<context-param>
		<param-name>email</param-name>
		<param-value>rdemir4434@gmail.com</param-value>
	</context-param>
	<servlet>
		<servlet-name>ServletContextExample</servlet-name>
		<servlet-class>servletContext.ServletContextExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContextExample</servlet-name>
		<url-pattern>/ServletContextClass</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ServletLifecycle</servlet-name>
		<servlet-class>ServletLifecycle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLifecycle</servlet-name>
		<url-pattern>/servletlifecycle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfigClass</servlet-name>
		<servlet-class>servletConfig.ServletConfigClass</servlet-class>
		<init-param>
			<param-name>mustafaAbi</param-name>
			<param-value>Mustafa Karaman</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfigClass</servlet-name>
		<url-pattern>/ServletConfigClass</url-pattern>
	</servlet-mapping>
</web-app>